@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: flex-start;
    font-family: 'Playfair Display', serif;
}

ul {
    list-style: none;
}

ul.menu {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: center;
    border: 0px solid red;
    position: relative;
    width: auto;
    z-index: 9;
    margin: 0;
    background-color: rgba( 0, 0, 0, 0.10);
    width: 100%;
}

ul.menu>li {
    display: inline-block;
    float: left;
    position: relative;
    text-align: left;
    border: 0px solid blue;
    z-index: 7;
}

ul.menu>li>a {
    color: #4f4f4f;
    float: left;
    font-size: 15px;
    padding: 1em;
    font-weight: 400;
    letter-spacing: 1;
    position: relative;
    text-decoration: none;
    text-transform: -uppercase;
    cursor: pointer;
    white-space: nowrap;
}

ul.menu>li>a .fa {
    margin-top: -10px;
    color: #5BBDE8;
}

ul.menu>li>a:hover {
    /*background-color: #289835;*/
    color: #289835;
    background-color: rgba(144, 164, 174, 1);
}

ul.menu>li:first-child a {
    color: #289835;
    margin: 0;
    font-weight: 500;
}

ul.menu>li>ul.sub-menu {
    position: absolute;
    left: -2em;
    margin: 0;
    z-index: 1;
    background-color: rgba(144, 164, 174, 1);
    border-radius: 2px;
    width: 200px;
    top: 3.0em;
    left: 0;
    height: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.282);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0rgba(0, 0, 0, 0.19);
}

ul.menu>li>ul.sub-menu:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgba(144, 164, 174, 1);
    border-width: 10px;
    margin-left: -10px;
}

ul.menu>li>ul.sub-menu>li {
    clear: both;
    list-style: none;
    display: block;
    padding: 0.75em 0em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 100%;
}

ul.menu>li>ul.sub-menu>li>a {
    color: #fff;
    font-size: 0.85em;
    padding: 5px;
}

ul.menu>li>ul.sub-menu>li>a i {
    margin: 0 5px 0 0;
}

ul.menu>li:hover ul.sub-menu {
    display: block;
    animation: fadeInRight .3s ease;
    -webkit-animation: fadeInRight .3s ease;
    opacity: 1;
    visibility: visible;
    width: 200px;
    /* left:0;
top:2em;*/
    height: auto;
    animation: fadeInLi .52s 1 alternate ease-out forwards .1s;
}

ul.menu>li>ul.sub-menu>li ul.sub-menu {
    position: absolute;
    left: -2em;
    margin: 0;
    background: #fff;
    border-radius: 2px;
    width: 200px;
    top: 0em;
    left: 100%;
    z-index: 9;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: rgba(144, 164, 174, 1);
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.22);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0rgba(0, 0, 0, 0.19);
}

ul.menu>li>ul.sub-menu li:hover ul.sub-menu {
    display: block;
    animation: fadeInRight .3s ease;
    -webkit-animation: fadeInRight .3s ease;
    opacity: 1;
    visibility: visible;
    width: 200px;
    /* left:0;
top:2em;*/
    height: auto;
    animation: fadeInLi .52s 1 alternate ease-out forwards .1s;
}

ul.menu>li>ul.sub-menu>li ul.sub-menu li {
    clear: both;
    list-style: none;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 100%;
}

ul.menu>li>ul.sub-menu>li ul.sub-menu li a {
    color: #4f4f4f;
    font-size: 0.85em;
    padding: 5px;
}