    * {
        box-sizing: border-box;
    }
    
    .main-navigation {
        width: 60%;
        margin: 0 auto;
    }
    
    .main-navigation ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
    }
    
    .main-navigation ul li {
        flex: 1;
        text-align: center;
    }
    
    .main-navigation ul li.current-menu a {
        background: rgb(255, 132, 151);
    }
    
    .main-navigation a {
        display: block;
        padding: .2em;
        font: small-caps 20px/1.8em cochin;
        text-decoration: none;
        background: grey;
        color: white;
        transition: background ease .5s;
    }
    
    .main-navigation a:focus,
    .main-navigation a:hover {
        background: hsl(0, 0%, 25%);
    }
    
    .main-navigation ul ul,
    .main-navigation ul ul ul {
        display: none;
        position: absolute;
    }
    
    .main-navigation ul ul li {
        display: flex;
    }
    
    .main-navigation ul ul a {
        flex: 1;
        padding: .2em;
    }
    
    .main-navigation ul li:hover>ul,
    .main-navigation ul ul li:hover>ul {
        display: block;
    }
    
    .content {
        width: 100%;
        height: 50vh;
        background: yellow;
        margin: 0 auto;
    }